*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    /* background-color: rgba(0, 37, 39, 0.555); */
    background-color: #000000;
    overflow: hidden;
     background-image: url(images/imgogo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.home{
    background-color: rgba(0, 0, 0, 0.563);
    width: 100vw;
    height: 75vh;
    /* box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px; */
    box-shadow: rgba(255, 255, 255, 0.44) 0px 0px 20px 0px;
    padding-top: 10px;
    padding-bottom: 185px;
    text-align: center;
    color: #ffffff; 
  
}
.conts{
    background-color: #00000056;
    border-radius: 40px;
    border: #00000051 solid 3px;
    box-shadow: #00fffb 2px 2px 20px 2px;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin-left: 500px;
    margin-top: 200px;
}
.title-home{
  text-align: center;
  width: 90vw;
  font-size: 10px;
  padding: 10px;
  background-color: #00ffb300;
  border-radius: 10px;
  position: fixed;
  top: 60px;
  left: 65px;
}
.title-home h1{
  animation: move-arrow-ink 5.5s linear infinite;
}

@keyframes move-arrow-ink {
  0% {
    opacity: 0;
    /* transform: translateX(-20%); */
    transform: translateX(0%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    /* transform: translateX(20%); */
    transform: translateX(0%);
  }
  }

@media (max-width: 700px) /* (max-width: 768px)*/{
    #conts{
      width: 80vw;
      margin-left: 15px;
      margin-top:200px;
      background-color: #00ff0d00;
    }
    body{
        overflow: hidden;
    }
    .home{
        height: 100%;
        box-shadow: #0084ff 0px 0px 0px 0px;
        text-align: center;
    }
    #homeo{
      text-align: center;
      font-size: small;
      min-width: max-content;
    }
    #title-home{
      text-align: center;
      width: 90vw;
      font-size: 10px;
      padding: 10px;
      background-color: #00143046;
      border-radius: 10px;
      position: fixed;
      top: 30px;
      left: 12px;
      border: #00b7ff54 solid 2px;
    }
    #title-home h1{
      animation: move-arrow-ink 10.5s  infinite;
    }
  

@keyframes move-arrow-ink {
  0% {
    opacity: 0;
    /* transform: translateX(-20%); */
    transform: translateX(0%);
  }
  50% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    /* transform: translateX(20%); */
    transform: translateX(0%);
  }
  }
#conts-bottom3{
    background-color: rgb(255, 255, 255);
    box-shadow: #ff0000 0px 0px 10px 3px;
    width: 100%;
    height: 3%;
    margin: 10px;
    margin-top: 130px;
    border-radius: 10px;
    animation: move-arrow-ino 2.5s linear infinite;
}

@keyframes move-arrow-ino {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    50% {
      opacity: 1;
      transform: translateX(-200%);
    }
    100% {
      opacity: 0;
      transform: translateX(-550%);
    }
    }
    #conts-bottom1{
        background-color: rgb(255, 255, 255);
        box-shadow: #0084ff 0px 0px 10px 3px;
        width: 100%;
        height: 3%;
        margin: 10px;
        border-radius: 10px;   
        animation: move-arrow-inp 2.5s linear infinite;
    }
    
    @keyframes move-arrow-inp {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    50% {
      opacity: 1;
      transform: translateX(100%);
    }
    100% {
      opacity: 0;
      transform: translateX(450%);
    }
    }
}
.conts img{
    width: 200px;
    margin: 40px;
    margin-top: 80px;
}
.conts-top{
    width: 450px;
    height: 50px;
    background-color: #ffffff00;
    display: inline-flex;
}
#conts-top3{
    background-color: rgba(0, 255, 255, 0);
    /* box-shadow: #0080ff -5px 0px 3px 0.1px; */
    width: 50%;
    height: 60%;
    margin: 10px;
    border-radius: 10px;
}
#conts-top1{
    background-color: rgba(0, 255, 255, 0);
    /* box-shadow: #0084ff 5px 0px 3px 0.1px; */
    width: 50%;
    height: 60%;
    margin: 10px;
    border-radius: 10px;
}
#conts-top2{
    background-color: rgba(255, 0, 0, 0);
    /* box-shadow: #007bff 0px 0px 150px 2px; */
    /* border: #006eff double 9px; */
    width: 200%;
    height: 60%;
    margin: 10px;
    border-radius: 20px;
}
.conts-bottom{
    width: 450px;
    height: 50px;
    background-color: #ffffff00;
    display: inline-flex;
    position: relative;
    top: -130px;
}
.bottom-3{
    background-color: rgb(255, 255, 255);
    box-shadow: #ff0000 0px 0px 10px 3px;
    width: 200%;
    height: 3%;
    margin: 10px;
    margin-top: 130px;
    border-radius: 10px;
    animation: move-arrow-in 2s linear infinite;
}

@keyframes move-arrow-in {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }
    50% {
      opacity: 1;
      transform: translateX(-100%);
    }
    100% {
      opacity: 0;
      transform: translateX(-200%);
    }
    }
.bottom-1{
    background-color: rgb(255, 255, 255);
    box-shadow: #0084ff 0px 0px 10px 3px;
    width: 200%;
    height: 3%;
    margin: 10px;
    border-radius: 10px;   
    animation: move-arrow-in1 2s linear infinite;
}

@keyframes move-arrow-in1 {
0% {
  opacity: 0;
  transform: translateX(10%);
}
50% {
  opacity: 1;
  transform: translateX(100%);
}
100% {
  opacity: 0;
  transform: translateX(200%);
}
}
#conts-bottom2{
    background-color: rgba(255, 0, 0, 0);
    /* box-shadow: #00ccff 0px 0px 60px 2px; */
    /* border: #006eff solid 2px; */
    width: 200%;
    height: 6%;
    margin: 10px;
    border-radius: 100px;
}